build
dist
DUE.egg-info
due/*/__pycache__
due/__pycache__
own_models/__pycache__
own_models/*/__pycache__
tests/test_save
due/.DS_Store
due/*/.DS_Store
examples/*/model
examples/*/prior_model
*.mat
results/